<div class="row">
    <h1>Now</h1>
    <p>
        I am a <em>Software Engineer</em> at <a href="https://www.kipsu.com">Kipsu Inc.</a> I've been working with Kipsu since January 2014, but for the first ten months or so I was working through a company named Maverick Software Consulting. Then, Kipsu hired me directly.
    </p>
    <p>
        Since Fall 2013 I've also been working through a four year Computer Science program at <a href="http://metrostate.edu">Metropolitan State University</a>. I'm currently just starting year three of the program.
    </p>
    <h1>Before Now</h1>
    <p>

    </p>
</div>
