<div class="row">
    <p>
        Let's start with my name. My full, legal name is John Robert George VanDeWeghe. Long enough?
        Growing up I definitely thought so, so to friends and family I went simply by my middle name; George VanDeWeghe.
        Of course, as soon as I had access to the internet on a regular basis (more on that later), I needed a handle to go by. Clearly a name like "George" would never do. So I took a name I liked (Alex) and used that.
        Later on, I had made a website that I pieced together a name for that didn't make much sense to anyone but me; LunixLabs. I took the first part from that name, and made it my Pseudonym's last name, creating "Alex Lunix".
        Eventually I started attending a University, and decided it was time to start going by my first name, or at least part of it. From then on (and still today) I went by "John VanDeWeghe".
    </p>
    <p>
        Now, that's quite a lofty explanation for just my name, but I feel like the progression I went through with my name as I grew up is very similar to how I developed my skills, as well as the rest of what makes me who I am.

    </p>
</div>
