<h1>Projects</h1>
<p>Sometimes I have spare time, here is stuff I've done during that time</p>
<h3>Recent Projects</h3>
<p>More recently I've published projects I've worked on to GitHub.</p>
<uib-accordion>
    <uib-accordion-group is-open="isopen" ng-click="isopen=!isopen" ng-repeat="project in projects | filter:{url:''} | orderBy:'name'">
        <uib-accordion-heading>
            <span>{{project.name}} - {{project.short_description}}</span>
            <span class="pull-right glyphicon glyphicon-new-window external-link" ng-click="openLink('{{project.url}}', $event)" aria-hidden="true"></span>

        </uib-accordion-heading>
        <span>{{project.description}}</span>
    </uib-accordion-group>
</uib-accordion>
<h3>Older Projects</h3>
<p>Here are some older projects that I've lost the source for, but were still interesting learning tools</p>

